
@{
    ViewData["Title"] = "about_us";
}

<br />
<br />
<div class="container">
    <div class="row" style="margin-top:50px;background-color:azure;">

        <div class="col-md-6">
            <h2 class="text-danger">
                من هو دكتور / احمد الخطاب استشارى مخ واعصاب <br>

            </h2>
            <p>

                إستشاري أمراض المخ والأعصاب والطب والنفسي فى مستشفى بنها دكتور
                مخ واعصاب متخصص في نفسي اطفال، نفسي بالغين، مخ واعصاب بالغين و مخ واعصاب اطفال
            </p>
            <h3 class="text-info">الكشف:200ج</h3>
            <h3 class="text-info">اعاده:100ج</h3>
            <h4 class="text-center text-break">

                العمل طوال ايام الاسبوع ماعدا الجمعه
                01200499840

            </h4>

        </div>
        <div class="col-md-6" style="margin-top:20px;">
            <img src="/img/doc_cv.jpg" class="circle" alt="" style="border-radius:50px;">

        </div>

    </div>
</div>


